In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('database.db')

In [3]:
cursor = conn.cursor()

In [6]:
# Create Table
cursor.execute('''CREATE TABLE IF NOT EXISTS employees
               (id INTEGER PRIMARY KEY, name TEXT, age INTEGER, department TEXT)''')

conn.commit()

In [7]:
employees = [(1, 'Alice', 30, 'HR'),
             (2, 'Bob', 35, 'IT'),
             (3, 'Charlie', 28, 'Sales'),
             (4, 'David', 42, 'IT'),
             (5, 'Eva', 26, 'Marketing')]

# Insert data
cursor.executemany('INSERT INTO employees VALUES (?,?,?,?)', employees)

# Commit and close
conn.commit()
conn.close()

In [12]:
# Reconnect to the database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Process Data

In [15]:
# Reconnect to the database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Query to select all employees in the IT department
cursor.execute("SELECT * FROM employees WHERE department = 'IT'")
it_employees = cursor.fetchall()

# Convert the query result to a pandas DataFrame for easier manipulation
df_it_employees = pd.DataFrame(it_employees, columns=['id', 'name', 'age', 'department'])

# Close the connection
conn.close()

df_it_employees

   id   name  age department
0   2    Bob   35         IT
1   4  David   42         IT

In [17]:
# Increment the age of IT employees by 1
df_it_employees['age'] += 1

# Reconnect to the database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Update the ages in the database
for _, row in df_it_employees.iterrows():
    cursor.execute("UPDATE employees SET age = ? WHERE id = ?", (row['age'], row['id']))

# Commit and close
conn.commit()
conn.close()

df_it_employees

   id   name  age department
0   2    Bob   36         IT
1   4  David   43         IT